# Server AMQP
DEV_MESSAGE_AMQP_HOSTNAME=
DEV_MESSAGE_AMQP_PORT=
DEV_MESSAGE_AMQP_USERNAME=
DEV_MESSAGE_AMQP_PASSWORD=
DEV_MESSAGE_AMQP_EXCHANGE=
DEV_MESSAGE_AMQP_REPLYTO=
DEV_MESSAGE_AMQP_QUEUE=

DEV_SERVER_MAIL_HOST=
DEV_SERVER_MAIL_PORT=
DEV_SERVER_MAIL_SECURE=
DEV_SERVER_MAIL_USER=
DEV_SERVER_MAIL_PASS=

DEV_SERVER_MAIL_TO=
